<!doctype html>
<html ng-app height="100%">
 <%-include('../lib/head.ejs', {title: "Ayu - Editando servidor", description: ""})%>
  <%-include('../lib/nav.ejs')%>
 <div class="page">
  <%user.guilds.forEach(g => {
		if(g.id !== req.params.id) return;
		const permsOnGuild = new perms(BigInt(g.permissions));
    if(!permsOnGuild.has("MANAGE_GUILD")) return;%>
    <%if(guild) {%>
   <br>
    <center>
     <img src="<%=guild.icon%>" class="rounded-full mr-3 w-[100px] sm:w-[200px]"/>
     <br>
     <p><%=g.name%></p>
      </center>
     <br>
     <%-include('./lib/tabs.ejs', {g})%>
     <%} else {%>
			 <div class="flex flex-wrap flex-col justify-center items-center text-center w-full h-[95vh]">
				 <strong><h1 class="text-2xl text-white">Erro</h1></strong>
				 <p class="text-white text-base">Parece que esse servidor não existe, ou não está salvo nos meus arquivos.</p>
				 <p class="text-gray-500 text-sm">Execute um comando nesse servidor e refresque a página</p>
			 </div>
			 <%}
			 })%>
    </div>
  <%-include("../lib/script.ejs")%>
  </body>
  </html>