<!doctype html>
<html>
 <%-include('../lib/head.ejs', {title: "Ayu - Dashboard", description: ""})%>
 <div class="page">
	 <%-include('../lib/nav.ejs', {})%>
	  <div class="flex flex-col justify-center items-center">
			<img src="<%=req.user.avatar?`https://cdn.discordapp.com/avatars/${req.user.id}/${req.user.avatar}?size=4096`:'https://cdn.discordapp.com/embed/avatars/0.png?size=4096'%>" class="rounded-full m-3 w-[100px] sm:w-[200px]"/>
     <p><%=req.user.username%></p>
      </div>
      <br>
	    <%-include('./settings/tabs.ejs', {})%>
 </div>
   <%-include("../lib/script.ejs")%>
  </body>
  </html>