<!doctype html>
<html>
 <%-include('./lib/head.ejs', {title: "", description: ""})%>
 <body class="bg-[#181818] cursor-auto">
  <%-include('./lib/nav.ejs')%>
 <div class="page">
  <div class="bg-[#181818] h-screen" style="filter: drop-shadow(0px 5px 5px #181818);">
  <div class="grid justify-items-center p-5 h-96">
    <!-- ... -->
        <img class="rounded-full" id="avatar" src="https://media.discordapp.net/attachments/910534717445660725/934496495695183872/381e231b632c742d9033e3138ec0eb49-removebg-preview.png" width="200"/>
     <h3>Olá <%=req.user?req.user.username:"Usuário"%>, Bem vindo ao site oficial da Ayu!</h3>
     <br>
     <br>
     <button onclick="window.location.href='/dashboard'" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2 transition-all delay-150">Painel</button>

    
   </div>
   </div>
  </div>
   <%-include("./lib/script.ejs")%>
  <%-include("./lib/loading.ejs")%>
  <script src="/loading.js"></script>
 </body>
</html>